
.navbar {
    font-size: medium;
    display: flex;
    background-color: #748c9c;
    height: 80px;
  }

.menu {
  margin:10px;
}

#item {
  text-decoration: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#p:hover{
  transform: scale(1.3);
  box-shadow: 5px 5px 5px 5px white;
}

#p{
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 2px;
  color: white;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.logo1 {
  margin-left: 15px;
  height: 60px;
  width: 60px;
}

  
  nav li {
    display: inline;
    font-size: larger;
    align-self: center;
    align-items: center;
    text-decoration: none;
  }
  
