
footer #fondoFooter {
  display: flex;
  margin-top: 15px;
  padding: 15px;
  font-style: normal;
  background-color:#748c9c;
  color: aliceblue;

}

#footerIzq{
  display: flex;
}


.logo {
  height: 180px;
  width: 180px;
}


.texto{
  font-size: larger;
  color: white;
  font-size: medium;
  margin-left: 10px;
}

.textoDerecha {
  color: white;
}




footer .Cen .map {
  margin-top: 20px;
  width: 300px;
  height: 300px;
}
