.containerDetail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin: 20px auto;
    background-color:#748c9c;
    padding: 15px;
    box-shadow: 2px 1px 1px #474747b2;
    border-radius: 5px;
}

p{
    color: black;
}

.containerDetail img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 60%;
    height: 60%;
    border-radius: 5px;
}
.botonItd{
    background-color: rgb(50, 50,50);
    color: aliceblue;
    font-size: large;
    border: black;
    border-style: solid;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    margin:5px;
}

.price{
font-size: large;
}

.description{
    font-size: large;
}